/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

/* Obligar al body y al html a ocupar siempre el 100vh*/
html,
body {
  height: 100%;
}

header {
  background-color: #ffffff;
  color: #111111;
  padding: 15px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

header nav h1 {
  margin: 0;
  padding: 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  font-size: clamp(1rem, 0.7vw, 1rem);
}

header nav ul li {
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
}

@media (max-width: 615px) {
  .menu {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 62px;
    width: 40%;
    height: calc(100vh - 62px);
    background-color: white;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 50;
  }

  .menu.active {
    display: flex;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  .menu-toggle {
    display: block;
  }
}
